@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


section {
    margin: 0 15% 0 15%;
    font-family: 'Lora', serif;
}

.summary {
    margin: 0 25% 0 25%;
    font-family: 'Lora', serif;
}

.summary-h1 {
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

.hover-bg-yellow:hover {
    background-color: yellow;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.uline {
    text-decoration: underline;
}

.uline:hover {
    text-decoration: none;
}

.profile-img {
    vertical-align: middle;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.profile-img:hover {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

hr.style {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style:before {
    /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.a-none {
    text-decoration: none;
    color: #000000;
}

.a-none:hover {
    text-decoration: none;
    color: gray;
}

.project-card:hover {
    border: groove grey;

}

.text-grey {
    color: grey;
    font-weight: bolder;
}

.dark-mode,
.dark-mode * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6 !important;
}




body {
    background: #DFE7E9 !important;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 50px;
    outline: none !important;
}

.signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.signup-form a {
    color: #5cb85c;
}

.signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}

.signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
}

.signup-btn:hover {
    background: #5cb85c;
    opacity: 0.8;
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}

.social-btn .btn:first-child {
    margin-left: 0;
}

.social-btn .btn:hover {
    opacity: 0.8;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}